[submodule "ocr"]
	path = ocr
	url = https://github.com/Muti-Kara/ocr
[submodule "NotesMuscleServer"]
	path = NotesMuscleServer
	url = https://github.com/MatErW3lon/NotesMuscleServer.git
[submodule "Notes_Muscles"]
	path = Notes_Muscles
	url = https://github.com/MatErW3lon/Notes_Muscles.git
[submodule "NotesMuscleDocumentationWebsite"]
	path = NotesMuscleDocumentationWebsite
	url = https://github.com/MatErW3lon/NotesMuscleDocumentationWebsite.git
